
<div class="container ">
  <h3 class="text-center">Search for github UsersProfile </h3>

  <nav class="navbar  navbar-dark  bg-dark">
    
    <img src="https://relaxed-bassi-f6914f.netlify.app/GitHub-Mark-32px.png" class="rounded float-left" alt="Responsive Image">
    <!-- <img src="C:\Users\arunkumar.sm\Desktop\Images\github1.png" width="30px" hight="30px" class="img-fluid" alt="Responsive image"> -->
  <input class=" col-5 mr-sm-2 form-control" [(ngModel)]="username" name="username" type="search" placeholder="Search" aria-label="Search">
  <button class="col-1 btn text-black  btn-light my-2 my-sm-0" type="submit" (click)="onSubmit()">Search</button>
</nav>



<div class="container mt-5" *ngIf="hide">
  
<div class="row">
  <div class="col-sm">
    

  <a class="btn btn-primary" href="{{userObject.html_url}}" role="button">{{userObject.name}}</a>
  </div>
  <div class="col-sm">
    <h5>ID:{{userObject.id}}</h5>
  </div>
  <div class="col-sm">
    <img src="{{userObject.avatar_url}}" class="img-fluid" alt="Responsive image" style="width: 150px;">
  </div>
</div>

<div class="row mt-5">
    <div class="col-sm">
      
        <h5> Number of Followers: {{userObject.followers}}</h5>
    </div>
    <div class="col-sm">
      <h5>Number of Following: {{userObject.following}}</h5>
    </div>
    <div class="col-sm">
        <h5>Total Number of Repository: {{userObject.public_repos}}</h5>
    </div>
  </div>
</div>  

</div>
